.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    cursor: pointer;
}
.card-container a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    text-align: center;
}
.card-container > * {
    flex-basis: 25%;
}
.card {
    background: lightgray;
    padding: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 390px;
}
.image-book {
    text-align: center;
}
.image-book img {
    height: 200px;
    max-height: 200px;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.41);
}
.book-info-block {
    padding-top: 20px;
}
.book-info-block > * {
    margin-top: 7px;
}
p {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
}
.book-category {
    margin-top: 5px
}