.form-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../assets/images/books.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 45px;
}
.form-submit h2 {
    font-size: 3rem;
    line-height: 2.7rem;
}
.select-books {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
label {
    font-size: 2rem;
    line-height: 1.7rem;
    font-weight: bold;
    padding-right: 5px;
}
.form__categories {
    padding-right: 10px;
}
select {
    height: 30px;
    font-weight: bold;
    background: lightgray;
}
option {
    background: white;
}
.input-search input {
    max-width: 400px;
    width: 450px;
    margin-top: 10px;
    height: 30px;
    border-radius: 20px;
}
.search input:focus,
.page input:focus {
    border: 2px solid orange;
    outline: none;
}
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
.btn {
    margin-top: 17px;
    padding-left: 20px;
}
@media screen and (max-width: 768px) {
    .input-search input {
        max-width: 600px;
        width: 600px;
        height: 60px;
    }
    .form-submit h2 {
        margin-top: 50px;
        font-size: 6rem;
        line-height: 5.7rem;
    }
    .select-books {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 40px;
    }
    .select-books > * {
        margin-top: 20px;
    }
    label {
        font-size: 4.5rem;
        line-height: 4.7rem;
        font-weight: bold;
        margin-right: 10px;
    }
    select {
        height: 50px;
        width: 200px;
        font-size: 3rem;
        margin-top: 20px;
    }
    option {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 414px) {
    .input-search input {
        max-width: 300px;
        width: 300px;
        height: 70px;
    }
    .form-submit h2 {
        font-size: 5rem;
        line-height: 5.7rem;
        text-align: center;
    }
    .select-books {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 40px;
    }
    label {
        font-size: 4rem;
        line-height: 4.7rem;
        font-weight: bold;
    }
    select {
        height: 50px;
        width: 200px;
        font-size: 3rem;
        margin-top: 20px;
    }
    option {
        font-size: 1.5rem;
    }
}
