* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  font-family: Gilroy-Medium, sans-serif;
}
@media screen and (max-width: 414px) {
  body {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  body {
    padding-left: 15px;
    padding-right: 15px;
  }
}


