.details-content {
    display: flex;
    justify-content: space-between;
}
.layout-2-column {
    display: flex;
    justify-content: space-between;
}
.layout-2-column > * {
    flex-basis: 50%;
}
.picture-book {
    background: lightgray;
    border-radius: 20px;
    padding: 20px;
    margin-right: 20px;
    padding-left: 200px;
}
.picture-book img {
    width: 300px;
    max-width: 300px;
    height: 400px;
}
.category-all {
    padding-right: 100px;
}
.category-all > * {
    margin-bottom: 20px;
}
span {
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.4rem;
    font-family: Gilroy-Medium, sans-serif;;
}
.category-item {

}
.category-item span {
    color: darkgray;
}
.book__title span {
    font-weight: bold;
    text-decoration: black;
    font-size: 1.8rem;
}
.book-description {
    margin-top: 40px;
    border: 2px solid black;
    padding: 15px;
}
.book-description span {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.6rem;
}